extends ./index.pug

block fetching
    div(style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;")
        if status
            h4(style="padding-bottom: 5px; text-align: center; color: #03befc")= status
        if error
            h3(style="padding-bottom: 5px; text-align: center; color: #fc3003")= error
        if message
            h4(style="padding-bottom: 50px; text-align: center; color: #32a852")= message
        form(method="POST", action="/api/v1/pipeline/apartment")
            feildset
                legend Insert URL Apartment here
                caption Take URL from <a style="color: red;" href="https://mytour.vn/khach-san">https://mytour.vn/khach-san</a>
                table
                    tr
                        th
                    tr
                        td
                            label(for="urlInput") Page URL

                        td
                            input#urlInput(type="text", name="url")

                        td(colspan="2")
                            input#submitBtn(type="submit")
    div#detailBox
