extends ./index.pug

block fetching
    div
        form(method="POST", action="/api/v1/pipeline/apartment")
            feildset
                legend Insert URL here
                table
                    tr
                        td
                            label(for="urlInput") Page URL

                        td
                            input#urlInput(type="text", name="url")

                        td(colspan="2")
                            input#submitBtn(type="submit")
    div#detailBox
